/**Backgrounds**/
.bg-global {
    background-color: #F3FCDF;
}
.bg-globalT {
    background-color:#f3fcdf91;
}

.border-global {
    border-color: #D2F199;
    border-style: solid;
}

/**Paddings**/
.section-padding {
    padding: 75px 0;
}

/**Global**/

/************/
/**Sections**/
/************/

/** start **/
#start {
    height: 100vh;
    background-image: url(/img/main.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/*Der Start soll den gesamten Höhe des Bildschirm einnehmen, das Hintergrundbild
darf sich nicht wiederholen und den gesamten Bildschirm ausnutzen*/

/** goals **/
#goals h3 {
    height: 3em;
    border-bottom: 2px solid rgba(172, 172, 172, 0.472);
}
#goals hr {
    width: 15em;
    margin-top: -0.5em;
    border-top: 4px solid;
}

/** tabel **/
#tabel hr {
    width: 20em;
    margin-top: -0.5em;
    border-top: 4px solid;
}
#co2-table {
    
}

#footer {
    min-height: 10vh;
    background-color: #E4F7BF;
}

/** Rights **/
#start-cointainer-rights {
    
}