/*********************/
/**Background Colors**/
/*********************/
.bg-global {
    background-color: #F3FCDF;
}
.bg-globalT {
    background-color:#f3fcdf91;
}
.bg-globalDark {
    background-color: #E4F7BF;
}
.border-global {
    border-color: #D2F199;
    border-style: solid;
}

/************/
/**Paddings**/
/************/
.section-padding {
    padding: 75px 0;
}

/************/
/**Sections**/
/************/

/** start **/
#start {
    min-height: 100vh;
    padding-bottom: 1em;
    background-image: url(/img/main.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/*Der Start nimmt mindestens die gesamte Höhe des Bildschirm ein, weil das Impressum je nach Bildschirmgröße, größer
als der Bildschirm sein kann.
Das Hintergrundbild darf sich nicht wiederholen und fühlt die gesamte Startsektion aus*/


/** goals **/
#goals h3 {
    height: 3em;
    border-bottom: 2px solid rgba(172, 172, 172, 0.472);
}
/* border-bottom erstellt eine Trennlinie zwischen allen <h3> in #goals zu den darunter folgenden <p> */

#goals hr {
    width: 15em;
    margin-top: -0.5em;
    border-top: 4px solid;
}

/** tabel **/
#table hr {
    width: 20em;
    margin-top: -0.5em;
    border-top: 4px solid;
}
/* #goals hr und #table hr erstellen eine horizontalen Strich mit einer festen Breite und einer
Dicke von 4px. Zur einer visuellen Trennung */

#footer {
    min-height: 10vh;
}
/* eine Mindesthöhe von 10vh für den Footer */